@model DoAn3.Models.Tinhthanh

@{
    ViewData["Title"] = "Details";
}

<section id="main-content">
  <section class="wrapper">
    <h3>Chi tiết tỉnh thành</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="content-panel">
          <table class="table table-striped table-advance table-hover">
            <thead>
              <tr>
                <th>Mã tỉnh thành</th>
                <th>Tên tỉnh thành</th>
                <th></th>
              </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model=>model.TtMa)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TtTen)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@Model.TtMa"class="btn btn-primary"><i class="fa fa-pencil"></i></a> |
                        <a asp-action="Index" class="btn btn-default "><i class="fa fa-rotate-left"></i></a>
                    </td>
                </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </section>
</section>