@model DoAn3.Models.Diadiemdulich

@{
    ViewData["Title"] = "Edit";
}

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Chỉnh sửa</h3>
            <div class="row mt">
                    <div class="col-lg-12">
                        <div class="form-panel">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="DddlMa" />
                                <div class="form-group ">
                                    <label asp-for="DddlMa" class="control-label"></label>
                                    <input asp-for="DddlMa" class="form-control" />
                                    <span asp-validation-for="DddlMa" class="text-danger"></span>
                                </div>
                                <div class="form-group ">
                                    <label asp-for="DddlTen" class="control-label"></label>
                                    <input asp-for="DddlTen" class="form-control" />
                                    <span asp-validation-for="DddlTen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div>
                                    <input type="submit" value="Lưu" class="btn btn-primary"/>
                                    <a asp-action="Index" class="btn btn-default"><i class="fa fa-rotate-left"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>